


<% @articles.each do |articles| %>






<h1>Articles index</h1><br>
<h3>Hi,</h3>
<h3><%= current_user.name  %></h3><br>


<ul>
  <% @category.each do |category| %>
    <li>
       <%= category.name %>
      <% category.articles.each do |article| %>
    
      <a href="<%= article_path(article) %>">
        <%= article.title %>
      </a>
    
  <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>