
<div class="container">
    <div class="article_show"> 
        <h4><%= @article.title %></h4>
        <p>-by <%= @article.user.name %></p><br>
        <p><%= @article.body %></p><br>
        <%= vote_or_unvote_btn(@article) %>
    </div>
    <p class="article_show_image"><%= image_tag @article.image, :class =>"article_show_image1" if @article.image.attached?  %></p>
</div>


 