<div class="backgound_div login_top">
<p class="backgound_dark"></p>
<div class="form_div">
<h2>Log in</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email , :class =>"form_label"%><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password  , :class =>"form_label"%><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me  , :class =>"form_label"%>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" , :class => 'submit_button' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>